// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comments-section {
  display: none;
}

.comments-list .row, .reply-form .row {
    margin-bottom: 2rem;
    display: block;
}

.comments-list .comment-date, .reply-form .comment-date {
    color: grey;
    float: right;
}

// .reply {
//   display: inline !important;
// }