

label {
    font-size: .8rem;
    color: #ffffff !important;
    padding-right: 15px;
}

.center {
  text-align: center !important;
}

.star-hov:hover {
  color: #F79500 !important;
}

.star {
  color: #F79500 !important;
}

// #star-active:active {
//   color: #F79500 !important;
// }