<div class="container p-top-5x p-bottom-5x">
  <div class="card">
    <div class="card-block">
    <div class="form-header">
      <h3>Category</h3>
    </div>
      <table class="table">
        <thead>
           
          </thead>
          <tbody>
          <% @categories.each do |category| %>
            <tr>
                <th class="center" scope="row"><%= category.name %></th>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= link_to 'New Category', new_category_path %>
