<!--Double navigation-->

    <!-- Sidebar navigation -->
    <ul id="slide-out" class="side-nav hidden custom-scrollbar">
        <!-- Logo -->
        <li>
            <div class="logo-wrapper waves-light">
                <a href="/">
                </a>
            </div>
        </li><!-- /.Logo -->
        <!-- Search Form -->
        <li>
            <form class="search-form" role="search">
                <div class="form-group waves-light">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
        </li><!-- /.Search Form -->
        <!-- Side navigation links -->
        <li>
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header waves-effect arrow-r"><i class="fa fa-commenting"></i> Gist<i class="fa fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul>
                          <li>
                              <a href="/posts" class="waves-effect">All Gist</a>
                          </li>
                          <li>
                              <a href="/posts/new" class="waves-effect">Post New Gist</a>
                          </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="collapsible-header waves-effect arrow-r"><i class="fa fa-briefcase"></i> Jobs<i class="fa fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul>
                          <li>
                              <a href="/jobs" class="waves-effect">All Jobs</a>
                          </li>
                          <li>
                              <a href="/jobs/new" class="waves-effect">Post New Job</a>
                          </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="collapsible-header waves-effect arrow-r"><i class="fa fa-home"></i> Housing<i class="fa fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul>
                          <li>
                              <a href="/posts" class="waves-effect">All Listings</a>
                          </li>
                          <li>
                              <a href="/posts/new" class="waves-effect"> New Listing</a>
                          </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="collapsible-header waves-effect arrow-r"><i class="fa fa-diamond"></i> Categories<i class="fa fa-angle-down rotate-icon"></i></a>
                    <% Category.all.each do |category| %>
                      <div class="collapsible-body">
                        <ul>
                          <li><%= link_to category.name, job_path(category) %></li>
                        </ul>
                      </div>
                    <% end %>
                </li>
                <li>
                  <a class="collapsible-header waves-effect arrow-r"><i class="fa fa-camera-retro"></i> Gallery<i class="fa fa-angle-down rotate-icon"></i></a>
                  <div class="collapsible-body">
                      <ul>
                        <li>
                            <a href="/galleries" class="waves-effect">Bahama Gallery</a>
                        </li>
                        <li>
                            <a href="/galleries" class="waves-effect">Selfie Gallery</a>
                        </li>
                        <li>
                            <a href="/galleries/new" class="waves-effect">Upload A Selfie</a>
                        </li>
                      </ul>
                  </div>
                </li>
                <li>
                    <a class="collapsible-header waves-effect arrow-r"><i class="fa fa-envelope"></i> Contact<i class="fa fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul>
                          <li>
                              <a href="/pages/contact" class="waves-effect">Contact</a>
                          </li>
                          <li>
                              <a href="/pages/faq" class="waves-effect">FAQ</a>
                          </li>
                          <li>
                              <a href="/pages/terms" class="waves-effect">Terms</a>
                          </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="collapsible-header waves-effect arrow-r"><i class="fa fa-envelope"></i> About<i class="fa fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul>
                          <li>
                              <a href="/pages/about" class="waves-effect">About</a>
                          </li>
                          <li>
                              <a href="/pages/faq" class="waves-effect">FAQ</a>
                          </li>
                          <li>
                              <a href="/pages/terms" class="waves-effect">Terms</a>
                          </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li><!-- /.Side navigation links -->
        <div class="sidenav-bg mask-strong"></div>
    </ul><!-- /.Sidebar navigation -->
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-toggleable-md  navbar-dark scrolling-navbar double-nav" style=";">
        <!-- SideNav slide-out button -->
        <div class="float-left">
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
        </div>
        <!-- Breadcrumb-->
        <div class="breadcrumb-dn mr-auto">
            <ol class="breadcrumb header-breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/" class="navbar-brand"><b>Bahama Gist</b></a>
                </li>
            </ol>
        </div>
        <ul class="nav navbar-nav nav-flex-icons ml-auto" >
            <li class="nav-item">
                <a href="/posts" class="nav-link"><i class="fa fa-commenting "></i> <span class="hidden-sm-down ">Gist</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/jobs"><i class="fa fa-briefcase" aria-hidden="true"></i> <span class="hidden-sm-down ">Jobs</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/listings"> <i class="fa fa-home " aria-hidden="true"></i> <span class="hidden-sm-down ">Housing</span></a>
            </li>
            <li class="nav-item">
                <a href="/galleries" class="nav-link"><i class="fa fa-camera-retro "></i> <span class="hidden-sm-down ">Gallery</span></a>
            </li>
            <% if user_signed_in? %>
              <li class="nav-item dropdown">
                  <a class="nav-link" id="dropdownMenu1" aria-haspopup="true" aria-expanded="false" >
                    <!-- <i class="fa fa-user "></i> -->
                    <%= image_tag(current_user.image_url, size: 30, class: "rounded-circle") if current_user.image? %>
                    <%= current_user.first_name.capitalize %>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" id="nav-link" aria-labelledby="dropdownMenu1" >
                      <a class="dropdown-item " href="/users/edit">Edit Account</a>
                      <a class="dropdown-item " data-method="delete" href="/users/sign_out">Sign Out</a>
                  </div>
              </li>
            <% else %>
              <li class="nav-item">
                  <a href="/users/sign_up" class="nav-link"><i class="fa fa-user-plus "></i> <span class="hidden-sm-down ">Sign Up</span></a>
              </li>
              <li class="nav-item">
                  <a href="/users/sign_in" class="nav-link"><i class="fa fa-sign-in "></i> <span class="hidden-sm-down ">Sign In</span></a>
              </li>
            <% end %>
        </ul>
    </nav><!-- /.Navbar -->
<!-- /.Double navigation -->